<div class="container">
	<div class="row">
		<div class="span4 offset4 well">
			<legend>Please Sign Up</legend>
			  <%= form_for(@user) do |f| %>
			      <% if @user.errors.any? %>
            	<div class="alert alert-error">
                  <a class="close" data-dismiss="alert" href="#">×</a>Errors:
                  <ul>
                  <% @user.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                  <% end %>
              </div>
            <% end %>
            <%= f.text_field :email, :placeholder => "Email" %><br>
            <%= f.password_field :password, :placeholder => "Password", :id => "password" %><br>
            <%= f.password_field :password_confirmation, :placeholder => "Confirm Password" %><br>
      			<button type="submit" name="submit" class="btn btn-info btn-block">Sign Up</button>

          <% end %>   
		</div>
	</div>
</div>



