<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Six Times Book" %></title>
    <%= csrf_meta_tags %>

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
    <![endif]-->

    <%= stylesheet_link_tag "application", :media => "all" %>

    <!-- For third-generation iPad with high-resolution Retina display: -->
    <!-- Size should be 144 x 144 pixels -->
    <!-- <%#= favicon_link_tag 'images/apple-touch-icon-144x144-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '144x144' %> -->

    <!-- For iPhone with high-resolution Retina display: -->
    <!-- Size should be 114 x 114 pixels -->
    <!-- <#%= favicon_link_tag 'images/apple-touch-icon-114x114-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '114x114' %> -->

    <!-- For first- and second-generation iPad: -->
    <!-- Size should be 72 x 72 pixels -->
    <!-- <%#= favicon_link_tag 'images/apple-touch-icon-72x72-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '72x72' %> -->

    <!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
    <!-- Size should be 57 x 57 pixels -->
    <!-- <%#= favicon_link_tag 'images/apple-touch-icon-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png' %> -->

    <!-- For all other devices -->
    <!-- Size should be 32 x 32 pixels -->
    <!-- <%#= favicon_link_tag 'images/favicon.ico', :rel => 'shortcut icon' %> -->
  </head>
  <body>

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <h3><%= link_to "Six Times Book", root_url %></h3>
          <ul class="user-nav nav pull-right">
              <li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-home"></i></a>
                <ul class="dropdown-menu">
                  <% if current_user %>
                    <li><%= link_to new_entry_path do %>                     
                      <i class="icon-pencil"></i>New Entry
                      <% end %>
                    </li>
                    <li><%= link_to entries_path do %>                     
                      <i class="icon-list"></i>My Entries
                      <% end %></li>
                    <li><a href="modals.html#settings"><i class="icon-cogs"></i>Settings</a></li>
                    <li><%= link_to log_out_path do %>                     
                      <i class="icon-signout"></i>Log Out
                      <% end %>
                     </li>
                  <% else %>
                    <li><%= link_to "Log In",log_in_path %></li>
                    <li><%= link_to "Sign Up",sign_up_path %></li>
                  <% end %>       
                </ul>
              </li>
            </ul>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span3">
          <% if current_user %>
            <div class="well sidebar-nav">
              <ul class="nav nav-list">
                <li class="nav-header">Links</li>
                <li><%= link_to "New Entry", new_entry_path  %></li>
                <li><%= link_to "Today's Entries", from_today_entries_path  %></li>
                <li><%= link_to "Yamas and Niyamas", commitments_path  %></li>
                <li><a href="http://www.iamyoustudio.com/blog" target="_blank">I.AM.YOU Blog</a></li>
              </ul>
            </div><!--/.well -->
          <% end %>  
        </div><!--/span-->
        <div class="span9">
          <%= bootstrap_flash %>
          <%= yield %>
        </div>
      </div><!--/row-->

      <footer>
        <p>&copy; Company 2012</p>
      </footer>

    </div> <!-- /container -->

    <!-- Javascripts
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <%= javascript_include_tag "application" %>
    <%= yield :js %>
  	

  </body>
</html>
